<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filesystem.mapper.DictionaryMapper">

    <resultMap id="baseMap" type="com.filesystem.models.DictionaryTable">
        <id  property="id" column="id"/>
        <result property="codeName" column="code_name" jdbcType="VARCHAR"/>
        <result property="codeValue" column="code_value" jdbcType="VARCHAR"/>
        <result property="codeState" column="code_state"/>
    </resultMap>


    <select id="searchCodeByName" parameterType="java.lang.String" resultMap="baseMap">
        SELECT
            d.id,
            d.code_name,
            d.code_value,
            d.code_state
        FROM dictionary d
            WHERE 1=1
        <if test="codeName != null and codeName != ''">
            AND d.code_name LIKE CONCAT(#{codeName},'%')
        </if>
    </select>
</mapper>